{% extends 'website/base.html' %}
{% block title %}About{% endblock title %}
{% block body %}

<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
      <span class="fs-4">About</span>
    </a>
  </header>

  <main>
    <h1 class="text-body-emphasis">About Us</h1>
    <p class="fs-5 col-md-8">Artuniverse is a trademark registered under Dwara Creative Learning Private Limited which provides the platform to learn Drawing, Dance, Singing, Acting, Direction, Music in free time by providing course online + offline model.</p><br>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5 border-bottom mb-5" >
      <div class="col-md-6">
        <h2 class="text-body-emphasis">Vision</h2>
        <p>To uplift the Calibre of the Aspiring Individuals to drive their dream in the field of Art, Theatre and Music field.</p>

      </div>

      <div class="col-md-6">
        <h2 class="text-body-emphasis">Mission</h2>
        <p>To provide platform for the desired individuals and to help them fulfill their dreams of learning Art, Theatre and Music.</p>
      </div><br><br>
    </main><br>
  <div class="container text-center" style="position: relative; left: 415px;">
    <div class="col-lg-4 ">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal">CHIDANANDA H N</h2>
        <p>FOUNDER</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/chidananda-murthy-6605b5184/">Profile</a></p>
      </div>
  </div>
</div>
{% endblock body %}