{% extends 'website/base.html' %}

{% block title %}internship{% endblock title %}

{% block body %}
<!-- web development -->
<div class="container px-4 py-5 pb-0 mb-0" id="featured-3">
    <h2 class="pb-2 border-bottom">Web Development</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 pt-0 pb-0">
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            </div>
            <h3 class="fs-2 text-body-emphasis">Front-End</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>BootStrap</li>
            </ul>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            </div>
            <h3 class="fs-2 text-body-emphasis">Controller </h3>
            <ul>
                <li>Django</li>
                <li>Flask</li>
                <li>ExpressJS</li>
            </ul>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            </div>
            <h3 class="fs-2 text-body-emphasis">Database</h3>
            <ul>
                <li>MySQL</li>
                <li>Postgresql</li>
                <li>MongoDB</li>
            </ul>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            </div>
            <h3 class="fs-2 text-body-emphasis">Programming</h3>
            <ul>
                <li>Python</li>
                <li>JavaScript</li>
            </ul>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            </div>
            <h3 class="fs-2 text-body-emphasis">Test Automation</h3>
            <ul>
                <li>Cypress.io</li>
                <li>Pytest</li>
                <li>Jest</li>
            </ul>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            </div>
            <h3 class="fs-2 text-body-emphasis">Deployment</h3>
            <ul>
                <li>GitHub</li>
                <li>AWS</li>
            </ul>
        </div>
    </div>
</div>


<!-- ai ml -->

<div class="container px-4 py-5 mt-0 pt-0" id="featured-3">
    <h2 class="pb-2 border-bottom">AI ML</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 pt-0">
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            </div>
            <h3 class="fs-2 text-body-emphasis">AI</h3>
            <ul>
                <li>overall AI</li>
                <li>RUle Based System</li>
            </ul>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            </div>
            <h3 class="fs-2 text-body-emphasis">ML </h3>
            <h3>Type</h3>
            <ul>
                <li>Supervised learning</li>
                <li>Unsupervised learning</li>
                <li>Reinforcement learning</li>
            </ul>
            <h3>ML Models</h3>
            <ul>
                <li>Classical Machine Learning</li>
                <li>Deep Machine Learning</li>
            </ul>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            </div>
            <h3 class="fs-2 text-body-emphasis">Hands on Projects</h3>
            <ul>
                <li>Image Classification</li>
                <li>NLP Text Classification</li>
                <li>Much More</li>
            </ul>
        </div>
    </div>

    <div class="container px-4 py-5 mt-0 pt-0" id="featured-3">
        <h2 class="pb-2 border-bottom">Bussiness Development</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 pt-0">
            <div class="feature col">
                <div
                    class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                </div>
                <h3 class="fs-2 text-body-emphasis">Marketing and Branding </h3>
                <ul>
                    <li>Tools and Techniques</li>
                </ul>
            </div>
        </div>
    </div>
</div>


    {% endblock body %}