{% extends 'website/base.html' %}

{% block title %}Mentor{% endblock title %}

{% block body %}
<div class="container marketing ">
    <h1 class="text-center">Mentor</h1>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 item-center">
            <h1 class="featurette-heading fw-normal lh-1">Sunil Master | Choreographer</h1>
            <p class="lead"><b>Sunil Master is a well know Dance Choreographer in South India especially in Kannada and
                Telugu language</b></p>
            <div><ul>
                <li>
                    Dance Karnataka Dance
                </li>
                <li>
                    Takadimita
                </li>
                <li>
                    Dhee
                </li>
                <li>
                    Sreedevi Drama Company
                </li>

            </ul></div>
        </div>
        <div class="col-md-5">

            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100%"
                height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x400"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
                    fill="var(--bs-secondary-color)" dy=".3em">00x500</text>
            </svg>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Monisha Shivaswamy | Artist | World Record Holder</h2>
            <p class="lead">Monisha Shivaswamy is a world record holder 2019 & 2020 golden award winner in Art.</p>
            <ul><li>Her awards includes</li><li>India book of record</li><li>Speedest fashion designer</li><li>Karnataka book of records</li></ul>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100%"
            height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x400"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
                fill="var(--bs-secondary-color)" dy=".3em">00x500</text>
        </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Praveen | Artist</h2>
            <p class="lead">Praveen is an Artist who is having work experience of 10 years in Art field. His different set of teaching skills makes learner to get connected with the concepts.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100%"
            height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x400"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
                fill="var(--bs-secondary-color)" dy=".3em">00x500</text>
        </svg>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Prasad KJ | Artist</h2>
            <p class="lead">Prasad KJ is an Artist who is having work experience of 30 years in Art field. His different set of teaching skills makes learner to get connected with the concepts.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100%"
            height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x400"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%"
                fill="var(--bs-secondary-color)" dy=".3em">00x500</text>
        </svg>
        </div>
    </div>
    <hr class="featurette-divider">
</div>

{% endblock body %}